
habit-tracker-backend/node_modules/
habit-tracker-backend/.env
habit-tracker-backend/.env.*
habit-tracker-backend/*.log

frontend/node_modules/
frontend/*.log

.env
.env.*

.DS_Store
Thumbs.db
.vscode/
.idea/

dist/
build/
coverage/
logs/